@import "src/styles/variables";

.label {
  color: $mainFontColor;
  letter-spacing: 0.05em;
  @include flex-center;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 2px 2px 4px 0 rgba(34, 60, 80, 0.2);
  transition: all 0.3s linear;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    transform: scale(1.1);
  }
  .input {
    @include input-appearance-none;
  }
}

.text-page {
  @include height-width(40px, 58px);
  @include font-style($sourceSanProFont, normal, 16px, 400, uppercase, 112%);
  border: 1px solid rgba(0, 0, 0, 0.7);
  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.4);
  }
}

.text-list {
  @include height-width(16px, 32px);
  @include font-style($sourceSanProFont, normal, 10px, 400, uppercase, 100%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 2px 2px 4px 0 rgba(34, 60, 80, 0.4);
  }
}

.swatch-page {
  @include height-width(40px, 40px);
  border: 1px solid rgba(0, 0, 0, 0.7);
  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.4);
  }
}

.swatch-list {
  @include height-width(16px, 16px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 2px 2px 4px 0 rgba(34, 60, 80, 0.4);
  }
}

.text-page.checked {
  background-color: #1D1F22;
  color: white;
}

.text-list.checked {
  background-color: #1D1F22;
  color: white;
}

.checked {
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.7);
  transform: scale(1.1);
}